$_n-normalize_applied: false !default;

@if (not $_n-normalize_applied) {

	/**
	 * Prevent iOS and IE text size adjust after device orientation change,
	 * without disabling user zoom.
	 */

	html {
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

	/**
	 * Remove default margin.
	 */

	body {
		margin: 0;
	}

	/**
	 * Remove border when inside `a` element in IE 8/9/10.
	 */

	img {
		border: 0;
	}

	/**
	 * 1. Correct color not being inherited.
	 *    Known issue: affects color of disabled elements.
	 * 2. Correct font properties not being inherited.
	 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
	 */

	button,
	input,
	optgroup,
	select,
	textarea {
		color: inherit; /* 1 */
		font: inherit; /* 2 */
		margin: 0; /* 3 */
	}

	/**
	 * Address `overflow` set to `hidden` in IE 8/9/10/11.
	 */

	button {
		overflow: visible;
	}

	/**
	 * Address inconsistent `text-transform` inheritance for `button` and `select`.
	 * All other form control elements do not inherit `text-transform` values.
	 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
	 * Correct `select` style inheritance in Firefox.
	 */

	button,
	select {
		text-transform: none;
	}

	/**
	 * Remove inner padding and border in Firefox 4+.
	 */

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	/**
	 * Remove default vertical scrollbar in IE 8/9/10/11.
	 */

	textarea {
		overflow: auto;
	}

	/**
	 * Standardise outline styles
	 */

	:focus {
		outline: thin dotted;
		outline-offset: 1px;
	}

	$_n-normalize_applied: true !global;
}
